@use '../util/_fonts' as u;
@forward '_colors';

body {
    font-family: u.$montserrat;
    font-weight: 500;
    font-size: 0.875rem;
    color: var(--Grey);
    background-color: var(--Cream);

    display: grid;
    min-height: 100vh;
    place-content: center;
    margin: 1rem;
}


.grid {
    --content-padding: 1.5rem;
    --content-spacing: 1rem;

    display: grid;
    background-color: var(--White);
    border-radius: .5rem;
    overflow: hidden;
    max-width: 37.5rem;


    &__card-info { 
        display: grid;
        padding: var(--content-padding);
        gap: var(--content-spacing);
    }

    &__product-type {
        text-transform: uppercase;
        letter-spacing: .5rem;
        font-size: .75rem;
    }

    &__product-title {
        line-height: 100%;
        font-family: u.$fraunces;
        font-weight: 700;
        font-size: 2rem;
        color: var(--Black);
    }

    &__price-group {
        line-height: 100%;
        display: flex;
        padding: 1rem 0;
        gap: var(--content-spacing);
        flex-wrap: wrap;
        align-items: center;
    }

    &__sr-only:not(:focus):not(:active) {
        clip: rect(0 0 0 0); 
        clip-path: inset(50%);
        height: 1px;
        overflow: hidden;
        position: absolute;
        white-space: nowrap; 
        width: 1px;
    }

    &__price-new {
        font-family: u.$fraunces;
        font-weight: 700;
        font-size: 2rem;
        color: var(--Green-500);       
    }

    &__price-old {
        text-decoration: line-through;
    }

    &__button {
        cursor: pointer;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        gap: .5rem;
        padding: .75em 1.5em;
        background-color: var(--Green-500);
        border-radius: .5rem;
        color: var(--White);
        border: 0; 
        width: 100%;
    }
    &__button:hover {
        background-color: var(--Green-700);
    }
}

footer {
    margin-top: 1rem;
    text-align: center;
}